
/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-top: -3%;
    background-color: #55636B;
    padding-bottom: 1%;
}
.container{
    margin-top: -20px;
}

a{
    color: inherit;
}

p{
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(255,255,255, .5);
}

p:hover{
    text-decoration: underline;
}

body{
    background-color: #55636B;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #fff;

}

h1{
    margin-top: auto;
    text-shadow: 1px 1px 1px rgba(255,255,255, .5);
}
h1#more{
    color: white;
    text-align: center;
}

.carousel-inner{
    height: 500px;
}

.carousel-inner img {
    margin: auto;
}

.panel > .panel-heading {
    background-color: #242B2E;
    color: white;
}

.panel img{
    max-height: 220px;
}

#mainImg{
    margin-top: -47px;
    height: 300px;
    width: 90%;
}

#navLeft{
    margin-left: -15px;
}


