<!DOCTYPE html>
<html lang="en" ng-app="main">
    <head>
        <meta charset="UTF-8">
        <title>Practice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Document</title>
    </head>
    <body ng-controller="mainCtrl">
        <h1> {{ hello }} </h1>
        input: <input type="text" ng-model="newItem" /><button ng-click="addItem()">Add Item</button>
        
        <ul>
            <li ng-repeat="word in list"> {{ word }}</li>
        </ul>
     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>           
    <script src="index.js"></script>    
    </body>
</html>